# 1 = Debug; 2 = Info; 3 = Warn;
logLevel = 3

# Enable the built in identd server (listens on port 113)
identd = false

[clients]
# Default username / realname for IRC connections. If disabled it will use
# the values provided from the IRC client itself.
# %h will be replaced with the users hostname
# %i will be replaced with a hexed value of the users IP
#username = "%i"
#realname = "I am a webchat user"

# The websocket / http server
[server.1]
bind = "0.0.0.0"
port = 80

# Example TLS server
#[server.2]
#bind = "0.0.0.0"
#port = 443
#tls = true
#cert = server.crt
#key = server.key
# If you don't have a certificate, uncomment the below line to automatically generate a
# free certificate using letsencrypt.com (overrides the above cert/key options)
#letsencrypt_cache = letsencrypt.cache

# Serve static files from a web root folder.
# Optional, but handy for serving the Kiwi IRC client if no other webserver is available
[fileserving]
enabled = false
webroot = www/

[engines]
websocket
sockjs
kiwiirc

# Websites (hostnames) that are allowed to connect here
# No entries here will allow any website to connect.
[allowed_origins]
#*://example.com

# If using a reverse proxy, it must be whitelisted for the client
# hostnames to be read correctly. In CIDR format.
# The user IPs are read from the standard X-Forwarded-For HTTP header
[reverse_proxies]
127.0.0.0/8
10.0.0.0/8
172.16.0.0/12
192.168.0.0/16
"::1/128"
"fd00::/8"

# Connections will be sent to a random upstream
[upstream.1]
hostname = "irc.example.net"
port = 6667
tls = false
# Connection timeout in seconds
timeout = 5
# Throttle the lines being written by X per second
throttle = 2
webirc = ""


# A public gateway to any IRC network
# If enabled, Kiwi IRC clients may connect to any IRC network through the kiwiirc engine
[gateway]
enabled = false
timeout = 5
throttle = 2

# irc servers (hostnames) that are connectable via the gateway
# No entries here will allow connections to any server.
[gateway.allowed]
#example.com

[gateway.webirc]
irc.network.org = webirc_password
irc.network2.org = webirc_password
